<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.nonstdout.askme"
      android:versionCode="1"
      android:versionName="0.1">
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <application android:label="@string/app_name">
    <activity android:name=".Askme"
              android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <uses-sdk android:minSdkVersion="4" />
    <service android:name=".QuestionService"
             android:exported="false"
      />
  </application>
</manifest> 
